<div class="row" style="margin-bottom: 10px;">
  <div class="col-sx-12">
    <div class="btn-group open" open>
        <button type="button" class="btn btn-primary dropdown-toggle">
          Manage recipe
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">To shopping list</a></li>
          <li><a href="#">Edit recipe</a></li>
          <li><a href="#">Delete recipe</a></li>
        </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <img src="" alt="imageRicetta" class="img-responsive">
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <h1>Qui apparirà il nome della ricetta</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>Qui apparirà la descrizione della ricetta</h1>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <h1>Qui apparirà l'elenco degli ingredienti della ricetta</h1>
  </div>
</div>
