<div class="wrapper">
  <h2>Student List</h2>


  <div class="studentForm">
    <div>
      <label for="txtName">Student Name:</label>
      <input type="text" id="txtName" #txtName>
    </div>
    <div>
      <input type="radio" name="gender" value="M"> Male
      <input type="radio" name="gender" value="F"> Female
    </div>
    <div>
        <label for="txtCity">City:</label>
        <select id="lstCity">
          @for (item of cities; track $index)
          {
            <option value="item">{{item}}</option>
          }
        </select>
    </div>
    </div>
  </div>

  @for (item of studentList; track $index)
  {
    <div class="item">
      <span>{{$index + 1}}</span>
      <app-student [student] = "item"></app-student>
    </div>
  }

<div>
